$page_width: 853px;
$sidebar_width: 150px;

$background_color: rgb(51,0,102);
$text_color: white;

$content_radius: 30px;
$menu_radius: 20px;
$menu_left_padding: 10px;


body, div, span, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    background: $background_color;
    color: $text_color;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 1;
}

/**
 * center the page and make it the width of the banner.
 * @TODO can we change the banner? Make it a better width?
 */
#page {
    width: $page_width;
    margin: auto;
}

/**
 * This uses the "Holy Grail" style layout adapted for one sidebar.
 * See: http://www.alistapart.com/articles/holygrail
 */
#main-wrapper {
    padding-left: $sidebar_width;

    .column {
        position: relative;
        float: left;
    }

    #content {
        width: 100%;
    }

    #sidebar {
        width: $sidebar_width;
        right: $sidebar_width;
        margin-left: -100%;
    }
}

/**
 * style the tabs
 */
div.tabs {
    font-size: 0.7em;

    ul.tabs {
        margin: 0;
        border-top: thin solid yellow;
        border-bottom: thin solid yellow;
        background: yellow;

        li {
            border: none;

            &.active {
                background: white;
            }

            a {
                border: none;
                background: inherit;
                color: black;
            }
        }
    }
}

/**
 * Make the title happy
 */
div#content-radius-title {
    h1#page-title {
        margin-bottom: -5px;
        padding-left: $content_radius;
        font-size: 3em;
    }
}

div#content-radius {
    padding: 1em;
    border-top: thin solid yellow;
    border-left: thin solid yellow;
    -webkit-border-top-left-radius: $content_radius;
    -khtml-border-radius-topleft: $content_radius;
    -moz-border-radius-topleft: $content_radius;
    border-top-left-radius: $content_radius;
}

/**
 * sidebar menus
 */
div#sidebar div.block {
    margin-bottom: 2em;
    font-size: 0.8em;

    h2 {
        margin-bottom: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: $menu_left_padding;
        -webkit-border-top-right-radius: $menu_radius;
        -khtml-border-radius-topright: $menu_radius;
        -moz-border-radius-topright: $menu_radius;
        border-top-right-radius: $menu_radius;
        color: black;
        background: yellow;
        font-size: 1em;
        line-height: 1.2em;
    }

    div.content {
        color: yellow;
        background: #330066;

        ul {
            margin: 0;
            padding: 0;

            li {
                border-bottom: thin solid yellow;
                margin: 0;
                padding: 0;
                list-style-type: none;
                list-style-image: none;

                a {
                    display: block;
                    color: inherit;
                    margin: 0;
                    padding: 0;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: $menu_left_padding;
                    text-decoration: none;
                    line-height: 1;

                    &:hover {
                        color: #330066;
                        background: yellow;
                    }
                }
            }
        }
    }
}

/**
 * scootch the body content a bit over
 */
div#content-section-id {
    padding-left: 1em;

    div#content-actually {
        p {
            margin: 0;
            padding: 0;
            margin-bottom: 1em;
            padding-top: 0.5em;
            padding-top: 0.5em;
            line-height: 1.2em;
        }

        a {
            color: yellow;

            &:active {
                color: white;
            }
            &:hover {
                color: white;
            }
        }

        em {
            color: yellow;
            font-style: normal;
        }

        ol {
            list-style: decimal inside;
        }
    }
}

/**
 * Make some views look better
 */
div#content-actually {
    div.view-executive-board-members {
        table {
            border-spacing: none;
            border: none;

            thead {
                th {
                    border: none;
                }
            }

            tbody {
                border: none;
                vertical-align: top;

                tr.even, tr.odd {
                    background: none;
                    border: none;

                    td {
                        padding-left: 1em;
                        margin-bottom: 2em;
                    }
                }
            }
        }
    }
}

/**
 * Fix arbitrary pair lists
 */
div#content-section-id div#content-actually ul.tlptheme-tlppair-list {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        border-bottom: 2pt dotted $text_color;
        margin-top: 0.25em;
        clear: both;

        p {
            margin: 0;
            padding: 0;
            line-height: 1.2em;
            background-color: $background_color;
            position: relative;
            top: 2pt;

            &.tlptheme-tlppair-left {
                float: left;
                text-align: left;
                padding-right: 0.25em;
            }

            &.tlptheme-tlppair-right {
                float: right;
                text-align: right;
                padding-left: 0.25em;
            }
        }
    }
}
