body, div, span, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: none; }

body {
  background: #330066;
  color: white;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  line-height: 1; }

/**
 * center the page and make it the width of the banner.
 * @TODO can we change the banner? Make it a better width?
 */
#page {
  width: 853px;
  margin: auto; }

/**
 * This uses the "Holy Grail" style layout adapted for one sidebar.
 * See: http://www.alistapart.com/articles/holygrail
 */
#main-wrapper {
  padding-left: 150px; }
  #main-wrapper .column {
    position: relative;
    float: left; }
  #main-wrapper #content {
    width: 100%; }
  #main-wrapper #sidebar {
    width: 150px;
    right: 150px;
    margin-left: -100%; }

/**
 * style the tabs
 */
div.tabs {
  font-size: 0.7em; }
  div.tabs ul.tabs {
    margin: 0;
    border-top: thin solid yellow;
    border-bottom: thin solid yellow;
    background: yellow; }
    div.tabs ul.tabs li {
      border: none; }
      div.tabs ul.tabs li.active {
        background: white; }
      div.tabs ul.tabs li a {
        border: none;
        background: inherit;
        color: black; }

/**
 * Make the title happy
 */
div#content-radius-title h1#page-title {
  margin-bottom: -5px;
  padding-left: 30px;
  font-size: 3em; }

div#content-radius {
  padding: 1em;
  border-top: thin solid yellow;
  border-left: thin solid yellow;
  -webkit-border-top-left-radius: 30px;
  -khtml-border-radius-topleft: 30px;
  -moz-border-radius-topleft: 30px;
  border-top-left-radius: 30px; }

/**
 * sidebar menus
 */
div#sidebar div.block {
  margin-bottom: 2em;
  font-size: 0.8em; }
  div#sidebar div.block h2 {
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    -webkit-border-top-right-radius: 20px;
    -khtml-border-radius-topright: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
    color: black;
    background: yellow;
    font-size: 1em;
    line-height: 1.2em; }
  div#sidebar div.block div.content {
    color: yellow;
    background: #330066; }
    div#sidebar div.block div.content ul {
      margin: 0;
      padding: 0; }
      div#sidebar div.block div.content ul li {
        border-bottom: thin solid yellow;
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style-image: none; }
        div#sidebar div.block div.content ul li a {
          display: block;
          color: inherit;
          margin: 0;
          padding: 0;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 10px;
          text-decoration: none;
          line-height: 1; }
          div#sidebar div.block div.content ul li a:hover {
            color: #330066;
            background: yellow; }

/**
 * scootch the body content a bit over
 */
div#content-section-id {
  padding-left: 1em; }
  div#content-section-id div#content-actually p {
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-top: 0.5em;
    line-height: 1.2em; }
  div#content-section-id div#content-actually a {
    color: yellow; }
    div#content-section-id div#content-actually a:active {
      color: white; }
    div#content-section-id div#content-actually a:hover {
      color: white; }
  div#content-section-id div#content-actually em {
    color: yellow;
    font-style: normal; }
  div#content-section-id div#content-actually ol {
    list-style: decimal inside; }

/**
 * Make some views look better
 */
div#content-actually div.view-executive-board-members table {
  border-spacing: none;
  border: none; }
  div#content-actually div.view-executive-board-members table thead th {
    border: none; }
  div#content-actually div.view-executive-board-members table tbody {
    border: none;
    vertical-align: top; }
    div#content-actually div.view-executive-board-members table tbody tr.even, div#content-actually div.view-executive-board-members table tbody tr.odd {
      background: none;
      border: none; }
      div#content-actually div.view-executive-board-members table tbody tr.even td, div#content-actually div.view-executive-board-members table tbody tr.odd td {
        padding-left: 1em;
        margin-bottom: 2em; }
